<div><%= image_tag("#{@user.profile_photo}", width: 150, height: 150) %></div>
<div><%= @user.email %></div>
<div><%= @user.username %></div>
<div><%= link_to "Edit Account Information", edit_user_registration_path %></div>