<div class="about-page-container">
  <h1>About The App</h1>
    <p>triply is an app created to provide users with unique, walkable itineraries. Users can search a city and their desired points of interest, and triply does the rest! The app calls on the Yelp Fusion API, which it then works through the data to generate trips that have points of interest that are unique as well as being within a walkable vicinity to each other. Trips can be favorited by users as well.</p>
    <p>I built triply because sometimes, when my friends and I plan a get together, I want an app that will plan, map, and research all the points of interest for me. That way, I can spend less time looking up new places to visit and just catch up with friends!</p>

  <h1>About The Developer</h1>
    <%= image_tag ("Mii head big.png"), class: "profile-pic-about" %>
    <a href="https://github.com/saulleee" target="_blank">GitHub</a>
    <a href="https://www.linkedin.com/in/saullee/" target="_blank">LinkedIn</a>
  <h1>

  <h1>Credit</h1>
  <p>The map-pin icon is used from <a href="https://fontawesome.com/license" target="_blank">Font Awesome</a><p>
</div>