#footer {
  text-align: center;
  padding: 20px 0px 0px 0px;
  margin: 0px -10px;
  height: 40px;
  border-top: 1px solid #e4e4e4;
  background-color: #efefef;
}

.footer a {
  text-align: center;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}
