/* navbar styling */

.navbar {
  overflow: hidden;
  background-color: #fff;
  margin: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar a{
  text-decoration: none;
}

/* logo styling (upper left) */
#logo-navbar a {
  font-size: 35px;
  font-weight: bolder;
  color: #000;
  margin-left: 25px;
}  

#icon{
  font-size: 30px;
  margin: -10px 0px 0px -5px;
  color: rgb(255, 0, 0);
}  

/* navbar styling (upper right) */

#profile-pic-nav-bar {
  border-radius: 50%; 
}  

.sign-in-div {
  display: flex;
  align-items: center;
}

.sign-in {
  border-width: 0px;
  width: auto;
  height: 36px;
  padding: 0px 20px 0px 20px;
  margin-right: 25px;
  border-radius: 6px;
  border: 1px solid #efefef;
  background-color: red;
}  

.sign-in a {
  color: white;
  font-weight: bold;
}  

.sign-in:hover {
  background-color: rgb(220, 0, 0);
}  

/* dropdown styling */

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown-content a {
  float: none;
  padding: 12px 0px;
  text-decoration: none;
  display: block;
  text-align: center;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0px;
  left: auto;
  background-color: #fff;
  min-width: 160px;
  box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);  z-index: 1;
  border-radius: 10px;
}

.dropdown-content a:hover {
  text-decoration: underline;
}

/* Solid border */
hr.solid {
  border-top: 1px solid #bbb;
  margin: 0px -10px;
}