#search-error-location {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#search-spinner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 45px;
  color: red;
}

.search {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 150px;
}

.search-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 500px;
  height: 44px;
  border: 1px solid #dfe1e5;
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
  border-bottom-right-radius: 24px;
  border-bottom-left-radius: 24px;
}

#mag-img {
  height: 20px;
  width: 20px;
  padding-right: 15px;
}

#search-container-input {
  border: none;
  border-color: transparent;
  width: 420px;
  height: 34px;
  outline: none;
}

::placeholder {
  color: rgba(0, 0, 0, 0.20);
  opacity: 1;
}

.search-button {
  border-width: 0px;
  width: auto;
  height: 36px;
  padding-right: 16px;
  padding-left: 16px;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-top: 11px;
  margin-right: 4px;
  margin-bottom: 11px;
  margin-left: 4px;
  border-radius: 6px;
  border: 1px solid #efefef;
}

.search-button:hover {
  border: 1px solid #c6c6c6;
}

#search-bar-effect:hover {
  box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}
