/* log in */

.log-in-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 25px 0px 0px 0px;
  border: 1px solid #dfe1e5;
  border-radius: 24px 24px 24px 24px;
}

.log-in-page input {
  height: 34px;
  outline: none;
}

.log-in-page a {
  text-decoration: none;
}

.log-in-page a:hover {
  text-decoration: underline;
}

/* show */

.user-show-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
  margin: 50px;
  padding: 30px;
  border-radius: 25px;
  width: 300px;
}

.user-container-title {

}

.userprofilepic img {
  border-radius: 50%;
}

.favorites-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
  margin: 10px;
  padding: 20px;
  border-radius: 25px;
  width: 500px;
}

/* edit account */