/* log in */

.log-in-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 150px 0px 0px 0px;
}

.log-in-header p {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 10px;
}

.field {
  padding: 10px;
}

.field label {
  font-weight: bold;
}

.field input {
  width: 300px;
  height: 34px;
}

.actions {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.actions input {
  border-width: 0px;
  height: 36px;
  padding: 0px 20px 0px 20px;
  margin: 0px 0px 25px 0px;
  border-radius: 6px;
  border: 1px solid #efefef;
  background-color: red;
  color: white;
  font-weight: bold;
}

.actions input:hover {
  background-color: rgb(220, 0, 0);
}

.log-in-page input {
  height: 34px;
  width: 300px;
  outline: none;
}

.log-in-page a {
  text-decoration: none;
}

.log-in-page a:hover {
  text-decoration: underline;
}

.login-link {
  margin-top: 20px;
  text-align: center;
}


/* sign up */

.sign-up-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 150px 0px 0px 0px;
}

.sign-up-page h2 {
  font-size: 25px;
  margin-bottom: 10px;
}

/* show */

.user-show-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-show-page h1 {
  font-size: 25px;
}

.user-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px;
  padding: 30px;
  border-radius: 25px;
  width: 300px;
}

.userprofilepic {
  width: 200px;
  height: 200px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  margin-top: 10px;
}

.userprofilepic-img img {
  display: inline;
  margin: 0 auto;
  height: 100%;
  width: auto;
}

.favorites-container-parent {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  padding: 20px;
  border-radius: 25px;
  width: 500px;
}

.favorites-container {
  padding: 10px;
  text-align: center;
}

.favorites-trip {
  padding-top: 5px;
}

.userinfo-container {
  padding: 5px;
}

/* edit */
.user-edit-parent {
  text-align: center;
  padding: 50px 0px;
}